.profile-info h1{
font-size: 3.5em;
font-weight: 700;
}

.profile img{
width: 100%;
}
.btns{
  padding: 10px 40px;
  border:none ;
  font-weight: 800;
  color: #21E6C1;
  border: 2px solid;
  border-radius: 5px;
  }
  .btns:hover{
    background: radial-gradient(#40c9b0,#21E6C1);
    color: rgb(0, 0, 0);
    border: 2px solid  #21E6C1;
  }
  .type-text{
    color: #21E6C1;
  }