body{
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
  
}

.navbar-brand{
  font-size: 26px;
  font-weight: 800;
}
.navigation{
  background-color: #071E3D;
  
}
.menu .navbar-nav li{
  margin-left: 20px;
  font-size: 1.02em;
  font-weight:bold !important;
  color: aliceblue !important;
}
.menu .navbar-nav li:hover{
color: #21E6C1 !important;
   
}

.resume-button {
  border: 1px solid  #21E6C1;
  border-radius: 5px;
  padding: 10px 30px;
  background: radial-gradient(#40c9b0,#21E6C1);
  color: white;
  font-weight: bold;
}
.resume-button:hover{
  color: #000000;
}
